# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/

# Environment variables
.env

# Logs
*.log

# Database files (if any local SQLite)
*.sqlite3

# MacOS files
.DS_Store

# Pycharm
.idea/

# Other OS files
Thumbs.db
